.place__paragraph {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
	margin: 0;
	margin-top: -4px;
	margin-bottom: 29px;
}

@media (max-width: 1023px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 27px;
    }
}