@import url(__title/intro__title.css);
@import url(__subtitle/intro__subtitle.css);
@import url(__content-row/intro__content-row.css);
@import url(__data-list/intro__data-list.css);
@import url(__data-list-item/intro__data-list-item.css);
@import url(__bold-accent/intro__bold-accent.css);
@import url(__main-text/intro__main-text.css);
@import url(__text-info-container/intro__text-info-container.css);
@import url(__text-info-item/intro__text-info-item.css);

.intro {
    max-width: 984px;
    width: 100%;
    padding-top: 83px;
}

@media (max-width: 1279px) {
    .intro {
        width: auto;
        padding: 0 48px;
    }
}

@media (max-width: 1023px) {
    .intro {
        padding: 0 24px;
    }
}

@media (max-width: 767px) {
    .intro {
        padding: 0 16px;
    }
}