.cover__title {
	margin: 0 auto;
	width: 100%;
	position: absolute;
	bottom: calc(50% - 78px / 2);
	left: 0;
	text-align: center;
	font-style: normal;
	font-weight: 900;
	font-size: 72px;
	line-height: 78px;
	color: #FFFDFD;
}

@media (max-width: 1279px) {
	.cover__title {
		width: 550px;
		margin: 0 auto;
		bottom: calc(50% - 156px / 2);
		left: calc(50% - 550px / 2);
	}
}

@media (max-width: 649px) {
	.cover__title {
		font-size: 32px;
		line-height: 35px;
		width: 250px;
		bottom: calc(50% - 70px / 2);
		left: calc(50% - 250px / 2);
	}
}