.content-title {
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
    max-width: 740px;
}

@media (max-width: 1023px) {
    .content-title {
        font-size: 42px;
        line-height: 46px;
        max-width: 430px;
    }
}

@media (max-width: 767px) {
    .content-title {
        font-size: 32px;
        line-height: 35px;
        max-width: 320px;
    }
}